/* md-menu-bar.sdp-main-menubar { */
/* 	border-bottom: black solid 1px; */
/* } */
md-menu-bar.sdp-main-menubar div .md-menu .md-button {
	margin: 0;
}

.brand-btn {
	/* 	padding:5px; */
	cursor: pointer;
	margin: auto;
	max-height: 40px;
	color: #05495e;
	background-color: transparent !important;
}

.brand-btn img {
	display: block;
	max-height: 40px;
	height: auto;
	width: auto;
	padding: 0;
	margin: 0;
}

.caret {
	display: inline-block;
	width: 0;
	height: 0;
	margin-left: 2px;
	vertical-align: middle;
	border-top: 4px dashed;
	border-top: 4px solid\9;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
}